.hero {
  background: black url("/public/homebg.jpg") center/cover no-repeat;
  color: white;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 12px 30px;
  font-size: 1rem;
  background: red;
  border: none;
  color: white;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.hero-btn:hover {
  background: darkred;
}
