.schedule {
  padding: 60px 20px;
  width: 100vw;       /* full viewport width */
  box-sizing: border-box; /* include padding in width */
}

.schedule h2 {
  font-size: 2rem;
  color: #ddd;
  margin-bottom: 20px;
}

.schedule p {
  font-size: 1.1rem;
  color: #bbb;
  margin-bottom: 30px;
}

.schedule ul {
  list-style: none;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  padding: 0;
}

.schedule li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.schedule strong {
  color: red;
}
