body {
  margin: 0;
  background: black;
  font-family: Arial, sans-serif;
  color: #ffffff;
}
.page-wrapper {
  background: black url("/public/homebg.png") center/cover no-repeat fixed;
  background-size: cover;
  background-attachment: fixed;
}

section {
  padding: 60px 20px;
  text-align: center;
}

h1, h2 {
  margin-bottom: 20px;
}